body {
  background-color: rgb(164, 192, 202); 
}

img {
  width: 500px;
  height: 500px;
}

.center {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  border: 6px solid rgb(0, 0, 0);
  padding: 40px;
}

h1 {
  font: 40px Courier; 
}

.add-stylist-form-wrapper {
  width: 325px;
}

.add-stylist-form-wrapper p {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.add-client-form-wrapper p {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}